PORT=
MONGO_URL=
MONGODB_DNS_SERVER=
API_URL=
MAX_REQUEST_PER_MINS=
WINDOW_MS=
JWT_SECRET=
CLOUD_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SCRET=
NODE_ENV=
MTN_API_USER=
MTN_API_KEY=
MTN_SUBSCRIPTION_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
ADMIN_PHONE_NUMBER=
FRONTEND_URL=https://karkelly.site
BRAND_LOGO_URL=
EMAIL_USER=
EMAIL_PASS=
ORDER_NOTIFICATION_EMAILS=ndayiyasoni@gmail.com,musany89@gmail.com